{% extends 'blog/base.html' %}


{% block content %}
    {% for worker in workers %}
        <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td width="400" valign="top">
                    <h1>
                        Состав лаборатории
                    </h1>
                    <div class="post">
                        <!--<div class="date">
                            {{ post.published_date }}
                        </div>-->
                        <h1>
                            <a href="{% url 'post_detail' pk=worker.pk %}">
                                {{ worker.title }}
                            </a>
                        </h1>
                        {% if worker.avatar %}
                            <p>
                                <img src="{{ MEDIA_URL }}{{ worker.avatar.url }}">
                            </p>
                        {% endif %}
                        <p>
                            {{ worker.info|linebreaksbr }}
                        </p>
                    </div>
                </td>
                <td valign="top">
                    Новости
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}

<!--
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h1>
            {% if post.image %}
                <p>
                    <img src="{{ MEDIA_URL }}{{ post.image.url }}">
                </p>
            {% endif %}
            <p>
                {{ post.text|linebreaksbr }}
            </p>
        </div>
-->